__pycache__/
*.parquet
creator_lora.egg-info/
clip_embeddings/
downloaded_dataset/
pick_a_pic_images/
sampler_weights.json
.wandb/
.pytest_cache/
wandb/
eden-prod.creations_deleted_private.json
eden-prod.reactions.json
best_model.pth
ava_dataset.csv
preds.json
output